#
version: '3.6'

services:
  m3os:
    image: dhnt/m3:latest
    restart: always
    container_name: m3os
    hostname: m3os
    ports:
      - "1080:1080"
      - "18080:18080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dhnt:/home/dhnt
    entrypoint:
      - '/dhnt/bin/m3'
      - 'run'
      - '--base'
      - '/dhnt'
    labels:
      - traefik.enable=false
    networks:
      web:
  
  dui:
    image: asperitus/docker-compose-ui:latest
    restart: always
    container_name: dui
    hostname: dui
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dhnt:/home/dhnt
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.backend.loadbalancer.stickiness=true"
      - "traefik.backend=dui"
      - "traefik.docker.network=web"
      - "traefik.entrypoints=http"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.frontend.rule=Host:dui.home"
      - "traefik.port=5000"

volumes:
  dhnt:

networks:
  web:
    external: false
    name: web
##